body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
  line-height: 1.5;
  color: black;
}

h2 {
  max-width: 560px;
  margin: 15px 0;
  font-size: 32px;
  font-weight: 700;
  text-align: left;
}

.form-container {
  max-width: 500px;
  margin: 20px auto;
  padding: 30px;
  font-size: 16px;
  font-family: Arial, sans-serif;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
}

.form-container h2 {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}

.heading-wrapper {
  max-width: 560px;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.moon-label {
  font-size: 42px;
  cursor: pointer;
  user-select: none;
  transition: transform 0.2s;
}

label {
  display: block;
  margin-bottom: 0;
}

input[type='text'],
input[type='email'],
input[type='date'],
input[type='number'],
select {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  font-size: 16px;
  box-sizing: border-box;
  border: 1px solid black;
}

input[type='color'] {
  width: 100%;
  padding: 1px;
  margin-bottom: 15px;
  font-size: 16px;
  box-sizing: border-box;
  border: 1px solid black;
  border-radius: 5px;
  height: 40px;
}

select option:disabled {
  color: #000;
  background-color: #fff;
}

select option:not(:disabled):hover {
  background-color: #ddd;
}

.radio-group {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.radio-group label {
  display: flex;
  align-items: center;
  gap: 8px;
}

fieldset {
  margin-bottom: 15px;
}

.checkbox-label {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
}

button[type='submit'] {
  background-color: #4caf50;
  color: white;
  font-size: 16px;
  padding: 16px;
  width: 100%;
  border: none;
  font-weight: 700;
  border-radius: 5px;
  cursor: pointer;
}

button[type='submit']:hover {
  background-color: #45a049;
}

#moon-toggle:checked ~ .form-container {
  background: #1f1f1f;
}

#moon-toggle:checked ~ .form-container,
#moon-toggle:checked ~ .form-container label,
#moon-toggle:checked ~ .form-container input,
#moon-toggle:checked ~ .form-container select,
#moon-toggle:checked ~ .form-container fieldset {
  color: #fff;
}

#moon-toggle:checked ~ .form-container input,
#moon-toggle:checked ~ .form-container select {
  background-color: #383838;
}

#moon-toggle:checked
  ~ .form-container
  input[type='date']::-webkit-calendar-picker-indicator {
  filter: invert(1);
}
