/* Minimalny reset  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* kluczowe */
}

html {
  font-size: 16px; /* bazowy rozmiar czcionki */
  font-family: system-ui, sans-serif; /* font systemowy */
  line-height: 1.5; /* lepsza czytelność */
  height: 100%;
  width: 100%;
}

body {
  width: 100%;
  height: 100%;
  background-color: #e2dfdf;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  width: 300px;
  height: 250px;
  background-color: #333333;
  color: #f5f3f3;
  padding: 15px 20px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

nav h1 {
  font-size: 32px;
  margin-bottom: 15px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 10px;
  flex-direction: column;
}

a {
  color: #4da6ff; /* niebieski kolor linków */
  text-decoration: none; /* bez podkreślenia */
  font-size: 1.4rem;
  font-weight: 700;
}
a:hover {
  text-decoration: underline; /* podkreślenie przy najechaniu */
}
